<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="javascript:void(0);">Cognitive QA</a>
  <div *ngIf="getCurrentProject().length > 0">
    <a class="navbar-text" href="javascript:void(0);">
      Current Working project {{getCurrentProject()}}
    </a>
  </div>
  <div class="navbar-brand col-sm-1 btn-group">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Settings
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="javascript:void(0);" (click)="showConfirm()">New</a>
      </div>
    </div>
  </div>
</nav>


